/* You can add global styles to this file, and also import other style files */
.color-dark{
	background: #d1d1d1
}



.title-color{
	background-color: #f9ed3e
}


#home-page{
	background: #f9f066;
}


#User-chat{
	background-color:#5f7ae8 ;
}

#Submit {
	background-color:#ffe419;
 
}

#Notes {
	background-color:#eaeaa4;
}

#sw-button-to-a{
	background-color: transparent;
}

